<!DOCTYPE html>
<html>

 <head>
   {% include head.html %}

   <script type="text/x-mathjax-config">
       MathJax.Hub.Config({
           TeX: {
                 equationNumbers: {
                    autoNumber: "AMS"
                  }
                     },
         tex2jax: {
           inlineMath: [ ['$','$'] ],
           displayMath: [ ['$$','$$'] ],
           processEscapes: true,
         }
       });
   </script>
   <script type="text/javascript"
             src="//cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
   </script>

 </head>
 
 <body>

    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}
    {% include spoiler_footer.html%}
  </body>

</html>
